@import '../../variables.scss';
@import '../../functions.scss';
@import '../../mixins.scss';

.contact {
  font-size: rem(20px);
  font-weight: 400;
  padding-top: rem(15px);

  @include desktop {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $header-height-desktop);
    font-size: rem(30px);
    padding-top: initial;
  }

  @include mobile {
    a {
      text-decoration: underline;
    }
  }
}

.columns {
  padding: 0 $body-padding;

  @include desktop {
    display: flex;
    flex: 1;
    gap: $grid-gap * 2;
    padding: 0 $body-padding-desktop;
  }
}

.columns.columns--head {
  flex: 0;
  font-weight: 900;
  padding-bottom: rem(36px);
}

.columns.columns--head .column {
  padding-bottom: 0;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.column__title {
  font-weight: 900;
}

.column__content {
  flex: 1;
}

.column__footer {
  padding-top: rem(15px);
  font-size: rem(12px);
}
