@import '../../variables.scss';
@import '../../functions.scss';
@import '../../mixins.scss';

.story {
  padding: 0 $body-padding;

  @include desktop {
    height: calc(100vh - ($header-height-desktop + rem(36px)));
    display: flex;
    gap: $grid-gap-desktop;
    padding: 0 $body-padding-desktop;
    padding-top: rem(36px);
  }
}

.story__meta {
  padding-top: rem(15px);
  padding-bottom: rem(15px);
  font-size: rem(20px);

  @include desktop {
    font-size: 2.2rem;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 400px;
    max-width: 400px;
  }
}

.story__title {
  font-weight: 900;

  @include desktop {
    padding-bottom: rem(36px);
  }
}

.story__description {
  font-weight: 400;
  line-height: 1.2;
}

.story__image {
  width: 100%;
  padding-bottom: rem(25px);

  @include desktop {
    height: 100%;
    width: auto;
    padding-bottom: 0;

    &:last-of-type {
      padding-right: $body-padding-desktop;
    }
  }
}

.story__back-button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(25px);
  padding-top: rem(15px);
  padding-bottom: rem(15px);
  margin-bottom: rem(25px);
}

.story__back-button-arrow {
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
}
