@import '../../variables.scss';
@import '../../functions.scss';
@import '../../mixins.scss';

.story {
  padding: 0 $body-padding;

  @include desktop {
    height: 100%;
    display: flex;
    gap: $grid-gap-desktop;
    padding: 0 $body-padding-desktop;
    padding-top: rem(36px);
  }
}

.story__meta {
  @include desktop {
    font-size: 2.2rem;
    min-width: 400px;
    max-width: 400px;
  }
}

.story__title {
  font-weight: 900;
  padding-bottom: rem(36px);
}

.story__description {
  font-weight: 400;
  line-height: 1.2;
}

.story__image {
  margin: 0;
  padding-bottom: 16px;

  @include desktop {
    padding-bottom: 0;

    &:last-child {
      padding-right: $body-padding-desktop;
    }
  }
}

.story__image-image {
  width: 100%;

  @include desktop {
    height: calc(100vh - ($header-height + rem(108px)));
    width: auto;
  }
}

.story__image-caption {
  font-family: 'IBM Plex Mono', monospace;
  padding-bottom: 16px;

  @include desktop {
    padding-bottom: 0;
  }
}
