<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <title>{{title}} | Silvie Tillard Fotografie</title>
</head>
<body>
  {{> site-header subpage=true}}

  <div class="imprint">{{{content}}}</div>
</body>
</html>
