@import '../variables.scss';
@import '../functions.scss';
@import '../mixins.scss';

.stories {
  padding: 0 $body-padding;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: $grid-gap;

  @include desktop {
    padding: 0 $body-padding-desktop;
    gap: $grid-gap-desktop;
  }
}

.story-link {
  display: block;
  position: relative;

  @include desktop {
    &:hover {
      .story-link__thumbnail {
        filter: opacity(0.3);
      }

      .story-link__title {
        color: red;
      }
    }
  }
}

.story-link__thumbnail {
  height: 500px;
  width: 100%;
  object-fit: cover;
  transition: filter .1s ease-in-out;
}

.story-link__title {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  max-width: 50%;
  font-size: rem(36px);
  letter-spacing: 0.04em;
  transition: color .1s ease-in-out;
}
