@import '../variables.scss';
@import '../mixins.scss';

.stories {
  padding: 0 $body-padding;
  height: 100%;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: $grid-gap;
    padding: 0 $body-padding-desktop;
  }
}

.story-link {
  display: block;
  position: relative;
  aspect-ratio: 3 / 1;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  margin-bottom: 16px;

  @include desktop {
    margin-bottom: 0;
    height: 400px;
    aspect-ratio: auto;

    &:hover {
      background-size: 110%;
    }
  }
}

.story-link__title {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
