@import '../../variables.scss';
@import '../../functions.scss';
@import '../../mixins.scss';

.imprint {
  padding: rem(15px) $body-padding;
  font-weight: 400;
  font-size: rem(20px);

  @include desktop {
    font-size: rem(30px);
    padding: 0 $body-padding-desktop;
  }
}

.imprint__title {
  font-weight: 900;

  @include desktop {
    padding-bottom: rem(36px);
  }
}
