<header class="site-header">
  <a href="/" class="site-header__title"><h1>Silvie Tillard Fotografie</h1></a>
  {{#if subpage}}<a href="/" class="site-header__back hidden-mobile"><img
        height="20px"
        src="/assets/arrow-left-bold.svg"
        class="site-header__back-arrow"
        alt="back arrow"
      />
      Back</a>{{/if}}
  <a href="/about" class="site-header__about hidden-mobile">About</a>
  <div class="site-header__menu-button hidden-desktop">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="site-header__menu hidden-desktop">
    <ul>
      <li><a href="/">WORK</a></li>
      <li><a href="/about">KONTAKT</a></li>
      <li><a
          href="https://www.instagram.com/silvietillard"
          target="_blank"
          rel="noopener"
        >Instagram</a></li>
    </ul>
  </div>
  <script src="/site-header.js"></script>
</header>