@import '../variables.scss';
@import '../functions.scss';
@import '../mixins.scss';

.site-header {
  padding: $body-padding;
  text-transform: uppercase;
  font-size: rem(36px);
  padding-bottom: rem(15px);

  @include desktop {
    position: fixed;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    font-size: rem(64px);
    font-weight: 900;
    letter-spacing: 0.02em;
    padding: $body-padding-desktop;
    padding-top: rem(30px);
    padding-bottom: rem(36px);
    top: 0;
    left: 0;
    right: 0;
    height: $header-height-desktop;
    z-index: 1;
  }
}

.site-header__title {
  margin: 0;
}

.site-header__title h1 {
  margin: 0;
  font-size: inherit;
}

.site-header__back {
  font-size: 1.5rem;
  position: relative;
  top: -6px;
}

.site-header__back-arrow {
  vertical-align: middle;
  padding-right: 8px;
}

.site-header__about {
  display: block;
  margin-top: 16px;

  @include desktop {
    margin-top: 0;
  }
}

.site-header__menu-button {
  position: absolute;
  top: rem(22px);
  right: rem(15px);
  width: rem(30px);
  height: rem(30px);
  color: black;

  > span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &.is-cross {
    color: #ff0000;
    > span:nth-child(2) {
      color: white;
    }
    > span:nth-child(1) {
      transform-origin: left;
      transform: rotate(45deg);
    }
    > span:nth-child(3) {
      transform-origin: 12% 80%;
      transform: rotate(-45deg);
    }
  }
}

.site-header__menu {
  display: none;

  &.open {
    display: block;
    padding-top: rem(30px);
    height: 100vh;
  }
}
