<header class="site-header">
  <a href="/" class="site-header__title"><h1>Silvie Tillard Fotografie</h1></a>
  {{#if subpage}}<a href="/" class="site-header__back">⬅ Back</a>{{/if}}
  <a href="/about" class="site-header__about">About</a>
</header>
