@import '../variables.scss';
@import '../mixins.scss';

.site-header {
  padding: $body-padding;
  text-transform: uppercase;

  @include desktop {
    position: fixed;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.02em;
    padding: $body-padding-desktop;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: 1;
  }
}

.site-header__title {
  margin: 0;
}

.site-header__title h1 {
  margin: 0;
  font-size: inherit;
}

.site-header__back {
  font-size: 1.5rem;
  position: relative;
  top: -6px;
}

.site-header__about {
  display: block;
  margin-top: 16px;

  @include desktop {
    margin-top: 0;
  }
}
