@import './variables.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  @include desktop {
    padding-top: $header-height;
  }
}

.hidden-mobile {
  display: none;

  @include desktop {
    display: block;
  }
}

.hidden-desktop {
  @include desktop {
    display: none;
  }
}
