@import './reset.scss';
@import './variables.scss';
@import './functions.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: $html-font-size;
}

body.prevent-scroll {
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  @include desktop {
    padding-top: $header-height-desktop;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

p + p {
  padding-top: rem(16px);
}

b {
  font-weight: 900;
}
