@import './functions.scss';

$html-font-size: 16px;

$body-padding: rem(15px);
$body-padding-desktop: rem(28px);
$header-height-desktop: rem(24px + 24px + 40px);
$grid-gap: 1rem;
$grid-gap-desktop: rem(28px);

$breakpoint-sm: 900px;
