@import '../../variables.scss';
@import '../../functions.scss';
@import '../../mixins.scss';

.stories {
  padding: 0 $body-padding;
  padding-bottom: calc($body-padding * 3);
  gap: $grid-gap;

  @include desktop {
    display: flex;
    gap: $grid-gap-desktop;
    padding: 0 $body-padding-desktop;
    padding-bottom: calc($body-padding-desktop * 3);
  }
}

.story-link {
  display: block;
  position: relative;

  + .story-link {
    padding-top: $body-padding;
  }

  @include desktop {
    + .story-link {
      padding-top: $body-padding-desktop;
    }

    &:hover {
      .story-link__thumbnail {
        filter: opacity(0.3);
      }

      .story-link__title {
        color: red;
      }
    }
  }
}

.story-link__thumbnail {
  width: 100%;
  object-fit: cover;
  transition: filter 0.1s ease-in-out;
}

.story-link__title {
  color: white;
  position: absolute;
  bottom: 12px;
  left: 12px;
  max-width: 50%;
  font-size: rem(20px);
  letter-spacing: 0.04em;
  transition: color 0.1s ease-in-out;

  @include desktop {
    font-size: rem(28px);
  }
}

// Colcade setup
.grid-col {
  flex-grow: 1;
}

/* 1 column by default, hide columns 2 & 3 & 4 */
.grid-col--2,
.grid-col--3,
.grid-col--4 {
  display: none;
}

/* 3 columns at medium size */
@media (min-width: $breakpoint-sm) {
  .grid-col--2,
  .grid-col--3 {
    display: block;
  }
}

/* 4 columns at medium size */
@media (min-width: 1200px) {
  .grid-col--4 {
    display: block;
  }
}
