@import '../../variables.scss';
@import '../../functions.scss';
@import '../../mixins.scss';

.stories {
  padding: 0 $body-padding;
  padding-bottom: rem(72px);
  gap: $grid-gap;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 $body-padding-desktop;
    padding-bottom: rem(72px);
    gap: $grid-gap-desktop;
  }
}

.story-link {
  display: block;
  position: relative;

  + .story-link {
    padding-top: rem(20px);
  }

  @include desktop {
    + .story-link {
      padding-top: 0;
    }

    &:hover {
      .story-link__thumbnail {
        filter: opacity(0.3);
      }

      .story-link__title {
        color: red;
      }
    }
  }
}

.story-link__thumbnail {
  height: 500px;
  width: 100%;
  object-fit: cover;
  transition: filter .1s ease-in-out;
}

.story-link__title {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  max-width: 50%;
  font-size: rem(36px);
  letter-spacing: 0.04em;
  transition: color .1s ease-in-out;
}
