@import '../../variables.scss';
@import '../../functions.scss';
@import '../../mixins.scss';

.stories {
  padding: 0 $body-padding;
  padding-bottom: rem(72px);
  gap: $grid-gap;

  @include desktop {
    display: flex;
    gap: rem(36px);
    padding: 0 $body-padding-desktop;
    padding-bottom: rem(72px);
  }
}

.story-link {
  display: block;
  position: relative;

  + .story-link {
    padding-top: rem(15px);
  }

  @include desktop {
    + .story-link {
      padding-top: rem(36px);
    }

    &:hover {
      .story-link__thumbnail {
        filter: opacity(0.3);
      }

      .story-link__title {
        color: red;
      }
    }
  }
}

.story-link__thumbnail {
  width: 100%;
  object-fit: cover;
  transition: filter .1s ease-in-out;
}

.story-link__title {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  max-width: 50%;
  font-size: rem(25px);
  letter-spacing: 0.04em;
  transition: color .1s ease-in-out;

  @include desktop {
    font-size: rem(36px);
  }
}

// Colcade setup
.grid-col {
  flex-grow: 1;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--2, .grid-col--3, .grid-col--4 { display: none }

/* 3 columns at medium size */
@media ( min-width: $breakpoint-sm ) {
  .grid-col--2 { display: block; } /* show column 2 */
}

/* 3 columns at medium size */
@media ( min-width: 1200px ) {
  .grid-col--3 { display: block; } /* show column 2 */
}

/* 4 columns at large size */
@media ( min-width: 1600px ) {
  .grid-col--4 { display: block; } /* show column 3 */
}
